<ul class="right">
  <% if(user){ %>
    <h6 class="signup-message"><%= user%>, your account has been created! Please, proceed to Log In to your account <span class="sign-up-span-1">...</span></h6>
  <% } %>

  <% if (currentUser.username) { %>
  <li>Welcome <%= currentUser.username.username %></li>
  <li>
    <br>
    <br>
    <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Log Out" class="log-out-btn" />
    </form>
  </li>
  <% } else { %>
  <li class="sign-up-li"><a class="sign-up-a" href="/users/new">Sign Up</a></li>
  <li class="separation">/</li>
  <li class="log-in-li"><a class="log-in-a"  href="/sessions/new">Log In</a></li>
  <% } %>
</ul>