<html lang="en">
<head>
  <%- include ('partials/head.ejs') %>
  <title>Edit</title>
</head>
  <body>
    <h1>Edit Painting Page</h1>
  
      <form class="edit-form" action="/paintings/<%= painting%>/edit?_method=PUT" method="POST">
          <!--  NOTE: the form is pre-populated with values for the server-->
          Title: <input type="text" name="title" /><br/>
          Author: <input type="text" name="author" /><br/>
          Year: <input type="number" name="year" /><br/>
          Image: <input type="url" name="imageURL" /></br>
          Body: <textarea name="body" cols="30" rows="10"></textarea><br/>
          <br/>
          <button class="edit-btn" type="submit" value="Submit Changes">Submit</button>
      </form>
  </body>
</html>


  <!-- title: { type: String },
  author: { type: String },
  year: { type: Number},
  imageURL: { type: String },
  body: { type: String} -->