<html lang="en">
<head>
  <%- include ('partials/head.ejs') %>
  <title>Home</title>
</head>
<body>
  <div">
    <h1 class="home-title"><span class="home-title-span">Art </span>Depot</h1>
    
    <!-- <h1 class="home-collections">Collections:</h1> -->
    <div>
      <hr class="homepage-hr">
    </div>
    <div class="titles-container">
    </div>
      <a class="home-title-link-one" href="/paintings">Still Life</a> 
      <a class="home-title-link-two" href="/abstracts">Abstracts</a> 
      <a class="home-title-link-three" href="/portraits">Portraits</a> 
      <a class="home-title-link-four" href="/historic">Historic</a> 
      <a class="home-title-link-five" href="/landscapes">Landscapes</a> 
    
    
      
  </div>
 <nav>Log In</nav>
</body>
</html>