<html lang="en">
<head>
  <%- include ('partials/head.ejs') %>
  
  <title>Home</title>
</head>
<body>
  
  <nav class="homepage-nav">
    <%- include ('partials/nav.ejs') %>
    <!-- <form action="/users/new" method="GET">
      <button class="create-new-painting-btn"> Log In</button>
    </form>  -->
  </nav>
  <!-- <div class="homepage-nav"> -->
      <!-- <form action="/paintings/new" method="GET">
        <button class="create-new-painting-btn"> Create a New Painting</button>
      </form> -->
    <!-- </div> -->

  

  <div>
    
    <h1 class="home-title"><span class="home-title-span">Art </span>Collections ...</h1>
    
    <!-- <h1 class="home-collections">Collections:</h1> -->
    
    <div class="titles-container">
      
    </div>
      <a class="home-title-link-one atag" href="/paintings">Paintings</a> 
      <a class="home-title-link-two atag" href="/abstracts">Abstracts</a> 
      <a class="home-title-link-three atag" href="/portraits">Frescas</a> 
      <a class="home-title-link-four atag" href="/historic">Drawings</a> 
      <!-- <a class="home-title-link-five atag" href="/landscapes">Tapestries</a> -->
      
    
    
      
  </div>

</body>
</html>