<html lang="en">
<head>
  <%- include ('partials/head.ejs') %>
  
  <title>Home</title>
</head>
<body>
  
  <nav class="homepage-nav">
    <%- include ('partials/nav.ejs') %>
    <!-- <form action="/users/new" method="GET">
      <button class="create-new-painting-btn"> Log In</button>
    </form>  -->
  </nav>
  <div class="homepage-nav">
      <!-- <form action="/paintings/new" method="GET">
        <button class="create-new-painting-btn"> Create a New Painting</button>
      </form> -->
    </div>

  

  <div">
    <h1 class="home-title"><span class="home-title-span">Art </span>Depot</h1>
    
    <!-- <h1 class="home-collections">Collections:</h1> -->
    <div>
      
    </div>
    <div class="titles-container">
      <div></div>
    </div>
      <a class="home-title-link-one" href="/paintings">Still Life</a> 
      <a class="home-title-link-two" href="/abstracts">Abstracts</a> 
      <a class="home-title-link-three" href="/portraits">Portraits</a> 
      <a class="home-title-link-four" href="/historic">Historic</a> 
      <a class="home-title-link-five" href="/landscapes">Landscapes</a> 
    
    
      
  </div>

</body>
</html>