body {
  background-color:black;
}

/* home page */

.home-collections {
  position: absolute;
  top: 40%;
  left: 30%;
  color: red;
  font-size: 40px;
  font-family: 'Rock Salt', cursive;
  
}

.home-title {
  position: absolute;
  top: 0%;
  left: 5%;
  color: white;
  font-size: 70px;
  font-family: 'Rock Salt', cursive;
  /* border: 3px solid red; */
  
}

.home-title-link-one {
  position: absolute;
  text-decoration: none;
  top: 45%;
  left: 50%;
  color: white;
  font-size: 25px;
  font-family: 'Rock Salt', cursive;
  
}

.home-title-link-one:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: red;
}

#parent:hover + .parent-highlight {
  color: white;
}

.home-title-link-two {
  position: absolute;
  text-decoration: none;
  top: 51%;
  left: 50%;
  color: white;
  font-size: 25px;
  font-family: 'Rock Salt', cursive;
}

.home-title-link-two:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: red;
}

.home-title-link-three {
  position: absolute;
  text-decoration: none;
  top: 57%;
  left: 50%;
  color: white;
  font-size: 25px;
  font-family: 'Rock Salt', cursive;
}

.home-title-link-three:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: red;
}

.home-title-link-four {
  position: absolute;
  text-decoration: none;
  top: 63%;
  left: 50%;
  color: white;
  font-size: 25px;
  font-family: 'Rock Salt', cursive;
}

.home-title-link-four:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: red;
}

.home-title-link-five {
  position: absolute;
  text-decoration: none;
  top: 69%;
  left: 50%;
  color: white;
  font-size: 25px;
  font-family: 'Rock Salt', cursive;
}

.home-title-link-five:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: red;
}

.home-title-link-six {
  position: absolute;
  text-decoration: none;
  top: 70%;
  left: 50%;
  color: white;
  font-size: 25px;
  font-family: 'Rock Salt', cursive;
}

.home-title-link-six:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: red;
}


.home-title-span {
  font-family: 'Dawning of a New Day', cursive;
  color: red;
  font-size: 120px;
 
}

.homepage-hr {
  position: absolute;
  top: 120px;
  border: 1px solid red;
  width: 70%;
  margin-left: 20%;
}

.titles-container {
  position: absolute;
  top: 400px;
  left: 770px;
  background-color: black;
  border: 3px solid red;
  width: 400px;
  height: 400px;
  line-height: 1.3;
  box-shadow: 1px 1px 10px rgb(243, 5, 5), -1px -1px 10px rgb(250, 7, 7), 1px -1px 10px rgb(243, 6, 6),
    -1px 1px 10px rgb(245, 6, 6);
}

.titles-container-second {
  position: absolute;
  top: 50px;
  left: 70px;
  background-color: yellow;
  width: 250px;
  height: 250px;
}

.homepage-nav {
  position: absolute;
  top: 50px;
  left: 1400px;
  color: red;
  font-size: 20px;
  width: 250px;
  height: 50px;
  font-size: 30px;
  background-color: black;
  text-align: center;
  padding-top: 3px;
  /* border: 3px solid white; */
  font-family: 'Rock Salt', cursive;
  
}

nav:hover {
  color: white;
}
/* // */

/* .container-holder {
  display: flex;
  flex-direction: row;
  
} */

/* img {
  max-width: 100%;
  display: flex;
  min-height: 400px;
 
} */


/* .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 
  max-width: 550px;
  max-height: 400px;
} */

/* //Paintings page */

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
  margin: 50px;
  padding: 40px;
  
}




/* //index */

.logo {
  position: absolute;
  top: 10%;
  left: 10%;
  /* border: 3px solid red; */
  width: 250px;
  height: 250px;
  /* background-image: url(../images/kindpng_1843227.png);
  z-index: 3; */
  /* background-color: red; */
  transform: scale(1.5);
  
}

.painting-title {
  color: white;
  font-size: 15px;
  font-family: 'Dawning of a New Day', cursive;
  font-size: 30px;
  margin: 20px auto; 
  /* text-transform: uppercase; */
  font-family: 'Cinzel', serif;
}

.painting-details {
  color: white;
  margin: 30px auto;
  font-weight: 700;
  
}

.painting-author {
  font-size: 45px;
  color: white;
  font-family: 'Dawning of a New Day', cursive;
}
.painting-year {
  font-weight: 900;
  font-family: 'Rock Salt', cursive;
}

/* carousel  */
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  /* position: relative; */

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 400px;
  width: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Container for image text */

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.index-image {
  display: flex;
  justify-content: center;
  
  /* width: auto; */
}

.image {
  width: 450px;
  height: auto;
}

.create-new-painting-btn {

  padding: 10px 30px;
  font-family: 'Rock Salt', cursive;
  background-color: red;

}


/* //show paintings page */

.show-container {
  /* display: flex; */
  /* flex-direction: column;
  flex-wrap: wrap; */
  padding-top: 100px;
  max-height: 400px;
  width: 700px;
  text-align: center;
  margin: 0 auto;
}

.show-body-container {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 400px;
  width: auto; */
  background: url("https://www.freepik.com/free-photos-vectors/background");
}

.show-painting-body {
  color: white;
  font-family: 'Rock Salt', cursive;
}

.show-info {
  /* display: flex;
  flex-direction: column; */
  color: white;
}

.show-img {
  float: left;
}

.show-page-link {
  color: white;
  /* border: 3px solid white; */
  width: 200px;
  height: 40px;
  position: absolute;
  top: 900px;
  left: 1450px;
  text-decoration: none;
  text-align: center;
  padding-top: 4px;
  font-family: 'Rock Salt', cursive;
}

.show-page-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  margin: 50px;
}

.delete-painting-btn {
  padding: 10px 30px;
  font-family: 'Rock Salt', cursive;
  background-color: black;
  border: 3px solid red;
  color: red;
}

.edit-painting-btn {
  /* padding: 5px 30px; */
  background-color: white;
  font-family: 'Rock Salt', cursive;
  width: 110px;
  height: 53px;
  text-align: center;
  border: 3px solid red;
  text-decoration: none;
  font-size: 15px;
  padding-top: 3px;
  color:black;
}


/* // new page */

.new-page-body {
  background-color:black;
}

.new-page-container {
  background-color: white;
  width: 60vw;
  height: 40vw;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #bbb, -1px -1px 10px #bbb, 1px -1px 10px #bbb,
    -1px 1px 10px #bbb;
}


/* //edit from */

.edit-form {
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
  font-family: 'Rock Salt', cursive;
}

.edit-form input {
  padding: 10px;
}

.edit-btn {
  font-family: 'Rock Salt', cursive;
  width: 110px;
  height: 53px;
  text-align: center;
  border: 3px solid red;
  text-decoration: none;
  font-size: 15px;
  padding-top: 3px;
  color:red;
}


/* //nav.ejs */

.right {
  list-style: none;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  padding-top: 30px;
  transform: scale(1.2);
}

.log-out-btn {
  font-family: 'Rock Salt', cursive;
  width: 110px;
  height: 53px;
  text-align: center;
  border: 3px solid red;
  text-decoration: none;
  font-size: 15px;
  padding-top: 3px;
  color:red;
  margin-top: 50px;
  margin-left: -190px;
}

.sign-up-a {
 
  font-family: 'Rock Salt', cursive;
  width: 110px;
  height: 53px;
  text-align: center;
  /* border: 3px solid red; */
  text-decoration: none;
  font-size: 15px;
  padding-top: 3px;
  
  
}

.log-in-a {
  font-family: 'Rock Salt', cursive;
  width: 110px;
  height: 53px;
  text-align: center;
  /* border: 3px solid red; */
  text-decoration: none;
  font-size: 15px;
  padding-top: 3px;
  
}

.sign-up-li a {
  color:red;
}

.sign-up-li a:hover {
  color:white;
}

.sign-up-li:hover {
  color: white;
  transform: scale(1.3)
}

.log-in-li a {
  color:red;
}

.log-in-li a:hover {
  color:white;
}

.log-in-li:hover {
  color: white;
  transform: scale(1.3)
}

.separation {
  font-family: 'Rock Salt', cursive;
  width: 10px;
  height: 53px;
  text-align: center;
  /* border: 3px solid red; */
  text-decoration: none;
  font-size: 15px;
  padding-top: 22px;
  color:white;
  
}

/* //new log in  and sign up*/

.sessions-form-signup{
  /* display: flex;
  flex-direction: column; */
  color:red;
  font-family: 'Rock Salt', cursive;
  width: 60%;
  align-items: center;
  padding-left: 44%;
  padding-top: 15%;
}


.sessions-form-login{
  /* display: flex;
  flex-direction: column; */
  color:red;
  font-family: 'Rock Salt', cursive;
  width: 60%;
  align-items: center;
  padding-left: 44%;
  padding-top: 15%;
}

.fieldset {
  display: flex;
  flex-direction: column;
  color:red;
  width:700px;
  height: 700px;
  align-items: center;
  padding: 50px;
}

.legend-acct-info {
  color: red;
  align-items: center;
}

.login-submit-btn {
  font-family: 'Rock Salt', cursive;
  width: 180px;
  height: 53px;
  text-align: center;
  
  border: 3px solid white;
  text-decoration: none;
  font-size: 20px;
  padding-bottom: 10px;
  color:black;
  background-color: red;
  margin: 50px;
  margin-left: 55px;
}

.signup-submit-btn {
  font-family: 'Rock Salt', cursive;
  width: 180px;
  height: 53px;
  text-align: center;
  
  border: 3px solid white;
  text-decoration: none;
  font-size: 20px;
  padding-bottom: 10px;
  color:black;
  background-color: red;
  margin: 50px;
  margin-left: 55px;
}

.signup-message {
  list-style: none;
    /* display: flex; */
    position: absolute;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    padding-top: 20px;
    /* transform: scale(1.2); */
    margin-top: 90px;
    font-size: 15px;
    color: white;
}