body {
  background-color:black;
}

/* home page */

.home-collections {
  position: absolute;
  top: 40%;
  left: 30%;
  color: red;
  font-size: 40px;
  font-family: 'Rock Salt', cursive;
}

.home-title {
  position: absolute;
  top: 5%;
  left: 5%;
  color: white;
  font-size: 70px;
  font-family: 'Rock Salt', cursive;
  /* border: 3px solid red; */
}

.home-title-link-one {
  position: absolute;
  text-decoration: none;
  top: 45%;
  left: 50%;
  color: white;
  font-size: 25px;
  font-family: 'Rock Salt', cursive;
}

.home-title-link-one:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: black;
}

#parent:hover + .parent-highlight {
  color: white;
}

.home-title-link-two {
  position: absolute;
  text-decoration: none;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 25px;
  font-family: 'Rock Salt', cursive;
}

.home-title-link-two:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: black;
}

.home-title-link-three {
  position: absolute;
  text-decoration: none;
  top: 55%;
  left: 50%;
  color: white;
  font-size: 25px;
  font-family: 'Rock Salt', cursive;
}

.home-title-link-three:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: black;
}

.home-title-link-four {
  position: absolute;
  text-decoration: none;
  top: 60%;
  left: 50%;
  color: white;
  font-size: 25px;
  font-family: 'Rock Salt', cursive;
}

.home-title-link-four:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: black;
}

.home-title-link-five {
  position: absolute;
  text-decoration: none;
  top: 65%;
  left: 50%;
  color: white;
  font-size: 25px;
  font-family: 'Rock Salt', cursive;
}

.home-title-link-five:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: black;
}


.home-title-span {
  font-family: 'Dawning of a New Day', cursive;
  color: red;
  font-size: 90px;
}

/* .homepage-hr {
  position: absolute;
  top: 350px;
  border: 1px solid red;
  width: 90%;
  margin-left: 5%;
} */

.titles-container {
  position: absolute;
  top: 400px;
  left: 770px;
  background-color: red;
  width: 400px;
  height: 400px;
}

nav {
  position: absolute;
  top: 950px;
  left: 1400px;
  color: red;
  font-size: 20px;
  width: 250px;
  height: 50px;
  font-size: 30px;
  background-color: black;
  text-align: center;
  padding-top: 3px;
  /* border: 3px solid white; */
  font-family: 'Rock Salt', cursive;
}

nav:hover {
  color: white;
  transform: scale(1.2);
}
/* // */

/* .container-holder {
  display: flex;
  flex-direction: row;
  
} */

/* img {
  max-width: 100%;
  display: flex;
  min-height: 400px;
 
} */


/* .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 
  max-width: 550px;
  max-height: 400px;
} */

/* //Paintings page */

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
  margin: 50px;
  padding: 40px;
}




/* //index */

.painting-title {
  color: white;
  font-size: 15px;
  font-family: 'Dawning of a New Day', cursive;
  font-size: 30px;
  margin: 20px auto; 
  /* text-transform: uppercase; */
  font-family: 'Cinzel', serif;
}

.painting-details {
  color: white;
  margin: 30px auto;
  font-weight: 700;
  
}

.painting-author {
  font-size: 45px;
  color: white;
  font-family: 'Dawning of a New Day', cursive;
}
.painting-year {
  font-weight: 900;
  font-family: 'Rock Salt', cursive;
}

/* carousel  */
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  /* position: relative; */

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 400px;
  width: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Container for image text */

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.index-image {
  display: flex;
  justify-content: center;
  
  /* width: auto; */
}

.image {
  width: 450px;
  height: auto;
}


/* //show paintings page */

.show-container {
  /* display: flex; */
  /* flex-direction: column;
  flex-wrap: wrap; */
  padding-top: 100px;
  max-height: 400px;
  width: 700px;
  text-align: center;
  margin: 0 auto;
}

.show-body-container {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 400px;
  width: auto; */
}

.show-painting-body {
  color: white;
  font-family: 'Rock Salt', cursive;
}

.show-info {
  /* display: flex;
  flex-direction: column; */
  color: white;
}

.show-img {
  float: left;
}

.show-page-link {
  color: white;
}